* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nanum Gothic", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin-bottom: 0 !important; // đè lên 1rem của boostrap
  padding-left: 0 !important; // đè lên 2rem của boostrap
}

hr {
  margin: 0 !important;
}

p {
  margin-bottom: 0 !important; // đè lên 1rem của boostrap
}
