footer {
  background-color: $bg-color;
  .footer_content {
    padding: 50px;
    .footer_item {
      color: white;
      h3 {
        padding-top: 20px;
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 20px;
        color: white;
      }
    }
    .footer_item_1 {
      a {
        color: white;
        transition: all 0.3s;
        &:hover {
          color: $main-color;
        }
      }
      i {
        color: $main-color;
        font-size: 48px;
        margin-right: 10px;
        margin-top: 20px;
      }
      span {
        font-size: 20px;
        font-weight: 500;
      }
      p {
        color: #999;
        font-size: 14px;
        margin-top: 20px;
      }
      .footer_social {
        i {
          &.fa-facebook-f {
            @include social-icon(#3c5b9b);
          }
          &.fa-twitter {
            @include social-icon(#1aaed9);
          }
          &.fa-pinterest {
            @include social-icon(#3c5b9b);
          }
          &.fa-google-plus-g {
            @include social-icon(#eb3e32);
          }
          &.fa-instagram {
            @include social-icon(#8a7763);
          }
        }
      }
    }
    .footer_item_2 {
      ul {
        li {
          padding: 5px 0;
          a {
            color: #999;
            font-size: 14px;
            transition: all 0.3s;
            &:hover {
              color: $main-color;
              padding-left: 7px;
            }
          }
        }
      }
    }
    .footer_item_3 {
      .footer_blog {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        a {
          img {
            width: 100%;
          }
        }
        .footer_blog_text {
          margin-left: 10px;
          h4 {
            font-size: 12px;
            text-transform: uppercase;
          }
          p {
            color: #999;
            font-size: 10px;
          }
        }
      }
    }
    .footer_item_4 {
      p {
        color: #999;
        font-size: 12px;
        span {
          color: white;
        }
      }
    }
  }
}
