header {
  background-color: $bg-color;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: all 0.5s;
  z-index: 998;
  .header_content {
    display: flex;
    justify-content: space-between;
    transition: 0.5s;
    .header_logo {
      position: relative;
      padding: 25px 0;
    }
    .header_nav {
      nav {
        .sidebar {
          position: fixed;
          top: 0;
          right: 0;
          height: 100vh;
          width: 30%;
          z-index: 999;
          background-color: #26292e41;
          backdrop-filter: blur(10px);
          box-shadow: -10px 0 10px rbga(0, 0, 0, 0.1);
          display: none;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;
          li {
            width: 100%;
            a {
              width: 100%;
              font-weight: bold;
              color: $second-color;
              transition: all 0.3s;
              &:hover {
                color: $main-color;
              }
              i {
                font-size: 30px;
              }
            }
            .active {
              color: $main-color !important;
            }
          }
          @media screen and (max-width: 575.98px) {
            width: 100%;
          }
        }
        .mainbar {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 30px 0;
          li {
            position: relative;
            margin-left: 25px;
            a {
              position: relative;
              font-weight: bold;
              color: $second-color;
              transition: all 0.3s;
              &:hover {
                color: $main-color;
              }
              i {
                font-size: 30px;
              }
            }
            .active {
              color: $main-color !important;
            }
            &.btn-open-side-bar {
              display: none;
              @media screen and (max-width: 991.98px) {
                display: block !important;
              }
            }
            @media screen and (max-width: 991.98px) {
              display: none;
            }
          }
        }
      }
    }
  }
  &.sticky {
    background-color: $bg-color;
  }
}
