.insta {
  .insta_content {
    h1 {
      text-align: center;
      font-weight: bolder;
      margin-bottom: 20px;
    }
    .insta_item {
      position: relative;
      padding-left: 0 !important;
      transition: all 0.3s;
      cursor: pointer;
      img {
        width: 220px;
        height: 200px;
        @media screen and (max-width: 1399.98px) {
          width: 285px;
          height: 250px;
        }
        @media screen and (max-width: 1199.98px) {
          width: 320px;
          height: 340px;
        }
        @media screen and (max-width: 991.98px) {
          width: 360px;
          height: 360px;
        }
        @media screen and (max-width: 767.98px) {
          width: 540px;
          height: 400px;
        }
      }
      .insta_cover {
        display: none;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.5);
      }
      &:hover .insta_cover {
        display: block;
      }
    }
  }
}
