.product_choose {
  text-transform: capitalize;
  margin-top: 100px;
  #product_choose_content {
    .product_choose_item {
      .product_choose_item_image {
        img {
          margin-right: 70px;
        }
      }
      .product_choose_item_info {
        h2 {
          font-size: 40px;
          font-weight: 300;
          line-height: 40.31px;
          text-align: left;
          margin-bottom: 20px;
        }
        p {
          font-size: 18px;
          font-weight: 500;
          line-height: 25.36px;
          text-align: left;
        }
        hr {
          margin: 10px 0 !important;
        }
        .size_text {
          font-size: 24px;
          font-weight: 600;
          line-height: 29.05px;
          text-align: left;
          color: #1ed90e;
        }

        .product_size {
          margin-top: 20px;
          button {
            font-size: 20px;
            line-height: 20px;
            background-color: #cccc;
            color: black;
            margin-right: 10px;
            font-weight: 700;
            transition: all 0.3s;
            padding: 10px 20px;
            &:hover {
              background-color: red;
              color: white;
            }
          }
        }
        .product_color_group {
          // margin: 10px 0;
          button {
            margin-right: 10px;
            width: 65px;
            height: 50px;
            transition: all 0s;
            border: 3px solid white;
            &:hover {
              border-color: transparent;
            }
          }
          .tooltip {
            background-color: rebeccapurple;
          }
        }

        .product_price {
          margin: 10px 0 !important;
          font-size: 30px;
          font-weight: 600;
          line-height: 36.31px;
          text-align: left;
          color: #fc0303;
        }
        .available_plus_minus {
          text-align: center;
          width: 5%;
          margin: 0 20px;
          font-size: 25px;
          font-weight: 800;
          border: none;
          &:focus-visible {
            outline: none;
          }
        }

        .product_choose_btn_plus,
        .product_choose_btn_minus {
          background-color: #6988f4;
          padding: 15px 20px;
          font-size: 20px;
          line-height: 20px;
          color: white;
          transition: all 0.3s;

          &:hover {
            background-color: red;
            color: white;
          }
        }
        .product_buy_group {
          .btn {
            padding: 20px 45px;
            font-size: 20px;
            font-weight: 800;
            text-transform: uppercase;
            margin-right: 5px;
            transition: all 0.3s;
          }
          .product_Cart {
            background-color: red;
            color: white;
            &:hover {
              background-color: black;
            }
          }
          .product_Wish {
            background-color: white;
            color: black;
            &:hover {
              background-color: black;
              color: white;
            }
          }
          .product_Buy {
            background-color: black;
            color: white;
            &:hover {
              background-color: red;
            }
          }
        }
      }
    }
  }
}
