.signup{
    
    form{
        margin: 0 auto;
       max-width: 36rem;
        .signup_content {

            .signup_tile {
                // text-align: center;
                padding: 10px 0;
            }

            .signup_button {
                button {
                    background-color: $bg-color;
                    border: none;
                    padding: 9px 21px;
                    i {
                        font-size: 15px;
                        padding: 0 4px 0 0 ;
                    }
                    &:hover {
                        background-color: #eb3e32;
                        transition: all 0.7s;
                    }
                }
            }
        }
    }

}

// .signup_logo {
//     text-align: center;
//     color: $second-color;
//     font-size: 24px;
// }