.signup{
    
    form{
        margin: 0 auto;
       max-width: 36rem;
        .signup_content {

            .signup_tile {
                // text-align: center;
                padding: 10px 0;
                h2 {
                    font-weight: 800;
                }
            }

            .signup_button {
                button {
                    background-color: $bg-color;
                    border: none;
                    padding: 9px 21px;
                    color: $second-color;
                    i {
                        font-size: 15px;
                        padding: 0 4px 0 0 ;
                    }
                    &:hover {
                        background-color: #eb3e32;
                        transition: all 0.7s;
                    }
                }
            }

            .gender {
                margin: 18px 0;
                font-size: 20px;
                .gender_title {
                    margin: 0 10px 0 0;
                    font-weight: 700;
                }
                .gender_male {
                    margin: 0 10px 0 0;
                }
            }
        }
    }

}

